
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ToKnow</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">To Know</a>
        </div>
        <div class="navbar-collapse collapse">
        	{% if current_user != "AnonymousUser" %}
	        	<ul class="nav navbar-nav navbar-right">
			        <li><a href="#">{{ current_user }}</a></li>
			        <form class="navbar-form navbar-left" role="form" action="" method="post">{% csrf_token %}
			        	<input type="hidden" name="action" value="logout" />
				        <button type="submit" class="btn btn-default" value="logout">Log out</button>
				      </form>
	        	</ul>
        	{% else %}
	          <form class="navbar-form navbar-right" role="form" action="" method="post">{% csrf_token %}
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control" name="username" value="" id="username">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control" name="password" value="" id="password">
	            </div>
	            <button type="submit" class="btn btn-success" value="login">Sign in</button>
	            <!-- <input type="hidden" name="next" value="/" /> -->
	          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>


    {% if current_user == "AnonymousUser" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>The platform for sharing knowledge</h2>
        <p>{{ stuff }}</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="registration">Register</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What we do</h2>
          <p>The world's first knowledge exchange and mentoring platform, 
          allowing users to share knowledge and connect 
          to experts in real time</p>
        </div>
        <div class="col-md-4">
          <h2>Got a question?</h2>
          <p>Then you've come to the right place.  Find experts in every field
          who can answer your question right now</p>
       </div>
        <div class="col-md-4">
          <h2>Or are you an expert?</h2>
          <p>Then share your knowledge and find other people to connect with
          and help end 'knowledge poverty'</p>
        </div>
      </div>

      {% else %}





   <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="margin-top:20px">
        <div class="col-md-4">
        <img src="images/ToKnow_logo_350x65.png" />
          <h4>The world's first knowledge exchange and mentoring platform, allowing users to share knowledge and connect to experts in real time!</h4>
        </div>
        <div class="col-md-4">
    <img src="images/DannyBluestone.jpg" style="float:right" />
        <p><strong>Danny Bluestone</strong> <a href="">log out</a></p>
          <p><strong>Statistics so far ...</strong><br>Member since: 4th April 2014<br>Knowledge offers: 3<br>Knowledge requests: 95<br>Knowledge hook-ups: 17</p>
          <p><a class="btn" href="#">Edit Profile &raquo;</a></p>
       </div>
        <div class="col-md-4">
            <form>
          <p><strong>Knowledge finder</strong></p>
      <p>Start by typing the knowledge you are offering or requesting in the search box below</p>
              <input class="span4" type="text" placeholder="search">
              
            </form>
        </div>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row" style="margin-top:20px">
        <div class="col-md-4">
          <h4>Your Knowledge Offers</h4>
      <div>
        <img src="images/Sourdough.jpg" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Sourdough Bread</strong><br><em>I am the Master!</em><br><strong>Views:</strong> 5; <strong>Requests:</strong> 0; <strong>Hookups:</strong> 0;</p>
      </div>
      <div style="clear:both;">
      <img src="images/Flytying.jpg" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Fly Tying</strong><br><em>I can get you started</em><br>Views: 1; Requests: 0; Hookups: 0;</p>
    </div>
      <div style="clear:both;">
      <img src="images/Bagpipes.jpg" style="float:left; margin:0 10px 10px 0;" /> <p><strong>History of Bagpipes</strong><br><em>My PhD subject</em><br>Views: 0; Requests: 0; Hookups: 0;</p>
    </div>
    <div style="clear:both;"></div>
        </div>
        <div class="col-md-4">
          <h4>Your Knowledge Requests</h4>
      <div>
        <img src="images/StartupLogo.png" style="float:left; margin:0 10px 10px 0;" /> <p><strong>How to win Startup</strong><br><em>If only I knew!</em><br><strong>Views:</strong> 2; <strong>Requests:</strong> 0; <strong>Hookups:</strong> 0;</p>
      </div>
      <div style="clear:both;">
      <img src="images/Meryllynch.png" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Bank rescue</strong><br><em>Is it too late</em><br>Views: 1; Requests: 0; Hookups: 0;</p>
    </div>
      <div style="clear:both;">
      <img src="images/creme-egg.jpg" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Cream egg world record</strong><br><em>How can I eat 6 in a minute </em><br>Views: 0; Requests: 0; Hookups: 0;</p>
    </div>
    <div style="clear:both;"></div>
       </div>
        <div class="col-md-4">
          <h4>Your Knowledge Hook-ups</h4>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; ToKnow.co 2014</p>
      </footer>
    </div> <!-- /container -->







      {% endif %}

      <hr>

      <footer>
        <p>&copy; ToKnow 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
