
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ToKnow</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include "app/topbar.html" %}


    {% if current_user == "AnonymousUser" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container"><center>
        <h3>You must register to have access to the profile page</h3>
        <p><a class="btn btn-primary btn-lg" role="button" href="registration">Register</a></p>
        </center>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">

        </div>

      </div>
<hr>

      <footer>
        <p>&copy; ToKnow 2014</p>
      </footer>
    </div> <!-- /container -->
      {% else %}

   <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="margin-top:20px">
        <div class="col-md-4">
        <img src="images/ToKnow_logo_350x65.png" />
          <h4>The world's first knowledge exchange and mentoring platform, allowing users to share knowledge and connect to experts in real time!</h4>
        </div>
        <div class="col-md-4">
    <img src="images/DannyBluestone.jpg" style="float:right" />
        <h3>{{ username }}</h3>
          <p><strong>Statistics so far ...</strong><br>Member since: 4th April 2014<br>Knowledge offers: 3<br>Knowledge requests: 95<br>Knowledge hook-ups: 17</p>
          <p><button type="button" class="btn btn-default btn-sm">Edit Profile</button></p>
       </div>
        <div class="col-md-4">
            <form role="form">
          <p><strong>Knowledge finder</strong></p>
      <p>Start by typing the knowledge you are offering or requesting in the search box below</p>
        
              
 
  <div class="form-group">
    <input type="text" class="form-control" name="skill_search" placeholder="Search" style="width: 70%">
  </div>

 
  <button type="submit" class="btn btn-default btn-sm">Submit</button>
</form>
        </div>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row" style="margin-top:20px">
        <div class="col-md-4">
          <h4>Your Knowledge Offers</h4>

      {% for item in user_skills %}

   <div style="clear:both;">
           <img src="{{ item.skill_type_id.url }}" style="float:left; margin:0 10px 10px 0;" />
           <p><strong>{{ item.skill_type_id.name }}</strong><br><em>{{ item.snippet }}</em><br>Views: 1; Requests: 0; Hookups: 0;</p>
      </div>

{% endfor %}



    <div style="clear:both;"></div>
        </div>
        <div class="col-md-4">
          <h4>Your Knowledge Requests</h4>
      <div>
        <img src="images/StartupLogo.png" style="float:left; margin:0 10px 10px 0;" /> <p><strong>How to win Startup</strong><br><em>If only I knew!</em><br><strong>Views:</strong> 2; <strong>Requests:</strong> 0; <strong>Hookups:</strong> 0;</p>
      </div>
      <div style="clear:both;">
      <img src="images/Meryllynch.png" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Bank rescue</strong><br><em>Is it too late</em><br>Views: 1; Requests: 0; Hookups: 0;</p>
    </div>
      <div style="clear:both;">
      <img src="images/creme-egg.jpg" style="float:left; margin:0 10px 10px 0;" /> <p><strong>Cream egg world record</strong><br><em>How can I eat 6 in a minute </em><br>Views: 0; Requests: 0; Hookups: 0;</p>
    </div>
    <div style="clear:both;"></div>
       </div>
        <div class="col-md-4">
          <h4>Your Knowledge Hook-ups</h4>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; ToKnow.co 2014</p>
      </footer>
    </div> <!-- /container -->


      {% endif %}

      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
