
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ToKnow</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include "app/topbar.html" %}


   <div class="jumbotron">
      <div class="container">
        <h1 style="margin-bottom:20px">The Platform <br>for Sharing Knowledge</h1>
          <div class="row">

                <div class="col-md-4" style="height:65px; text-align:right;">
     
        </div>
            <div class="col-md-4"  style="height:65px">


<form class="form-inline" role="form" action="" method="post">{% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Skills</label>
    <input type="text" name="knowledge" class="form-control input-lg" placeholder="Search for knowledge">
  </div>
  <button type="submit" name="submit" class="btn btn-default btn-lg">GO</button>
</form>


          </div>
  
        </div>
      </div>
  </div>

    <div class="container">
      <!-- Example row of columns -->


       {% if current_user == "AnonymousUser" %}

      <div class="row">
        <div class="col-md-4">
          <div class="col-header knowledge-offer">Knowledge offer</div>
        <h3>Draught Plough Design</h3>
          <img src="images/DraughtPlough.png" style="margin-bottom:5px">
      <img src="images/ErnestMupunga.jpg" style="float:right"><p>As Africa Director of the Practical Action charity, I can help you find experts in most aspects of draught plow design.</p>
          <p><a class="btn btn-default btn-notregistered" href="#" role="button">Hookup with Ernest &raquo;<br><span style="font-size:0.8em">Need to register first</span></a></p>
        </div>
        <div class="col-md-4">
          <div class="col-header knowledge-offer">Knowledge offer</div>
        <h3>Minimum Viable Product</h3>
          <img src="images/steflewandowski.jpg" style="margin-bottom:5px">
      <p>I live and breathe the idea of minimum viable product and have helped dozens of start-ups focus on <em>keeping it simple and getting it done</em></p>
          <p><a class="btn btn-default btn-notregistered" href="#" role="button">Hookup with Steph &raquo;<br><span style="font-size:0.8em">Need to register first</span></a></p>
       </div>
        <div class="col-md-4">
          <div class="col-header knowledge-request">Knowledge request</div>
        <h3>Survive Burning Man Festival</h3>
          <img src="images/BurningMan.jpg" style="margin-bottom:5px">
      <img src="images/GiovanniCaponetto.jpg" style="float:right; padding-right:10px;">
            <p>I'm Italian! I don't belong in the desert! But I want to go to Burning Man. Can you help me?</p>
          <p><a class="btn btn-default btn-notregistered" href="#" role="button">Hookup with Giovanni &raquo;<br><span style="font-size:0.8em">Need to register first</span></a></p>
       </div>
      </div> <!-- end row -->
{% else %}
<div class="row">



<div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          <th style="width:10%"></th>
          <th style="width:30%">User name</th>
          <th>Skill</th>
          <th>Snippet</th>
        </tr>
      </thead>
      <tbody>
      {% for item in instances %}
        <tr>
          <td><img class="img-circle"  style="max-width: 40px;" src="{{ item.skill_type_id.url }}"></td>
          <td>{{ item.user_id.authuser_id.username }}</td>
          <td>{{ item.skill_type_id.name }}</td>
          <td>{{ item.snippet }}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endif %}
      <hr>

      <footer>
        <p>&copy; ToKnow.co 2014</p>
      </footer>
    </div> <!-- /container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
